*{
    margin:0;
    padding:0;
    /*border: 1px dotted;*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #f0f3f4;
    width:auto;
}
a{
    text-decoration: none;
    text-decoration: underline;
}
ul li{
    list-style-type: none;
    display: block;
    padding: 5%;
    font-size: 1.25em;
}
ul li a{
    font-size: 1.25em;
}

.page{
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
@media only screen and (max-width: 600px) {
    #sidebar, #right-sidebar{
      visibility: hidden;
    }
   *{
    font-size: 18px;
   }
   #intro{
       font-size: 1.25em;
   }
   .center-container{
       width: 100%;
   }


}

#sidebar{
    display: block;
    position: sticky;
    width: 10%;
    top:40%;
    left:10%;
}

#right-sidebar{
    width:10%;
    right:10%;
    display: block;
    position:sticky;
    float: right;
    top:40%;
}

.center-container{
    display: block;
    width: 50%;
    position: relative;
    top:35%;
    left:25%;
}

.center-header, .center-header a{
    font-size:1.5em;
}
#intro{
    font-size: 3em;
}